@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');

/* Делал на 1920:1080 */
/* 1 440 макет */
html {
    font-size: 16px;
    --color-white: white;
    --color-orange: #FFB742;
    --color-black: black;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}
body {
    color: var(--color-white);
    background-color: #212529;
}
header {
    padding: 1rem 3rem 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > a:first-child {
    background-image: url('../img/Frame\ 7.png');
    width: 5.625rem;
    height: 3.75rem;
}
.top_nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.top_nav > ul > li >a {
    margin: 0 1rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--color-white);
}
.top_nav > ul > li >a:hover{
    color: orange;
}
.hire_me {
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: capitalize ;
    color: var(--color-black);
    padding: 0.75rem 2.25rem;
    border-radius: 30px;
    background-color: var(--color-orange);
}
header > .hire_me {
    padding: 0.75rem 1.325rem;
}

.greetings_block {
    margin: 7.25rem auto;
    text-align: center;
    color: var(--color-white);
    font-family: 'Inter';
    font-weight: 700;
    text-transform: capitalize ;
}
.greetings_block > p:nth-child(1) {
    font-size: 2rem;
}
.greetings_block > p:nth-child(1) > span {
    color: var(--color-orange);
    text-decoration: underline;
}
.greetings_block > p:nth-child(2) {
    padding: 1rem 0 ;
    font-size: 3rem;
}
.greetings_block > p:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2rem;
}
.greetings_block > img {
    margin: 1.5rem auto 8.5rem;
    width: 10%;
}

.experience_cards {
    margin: 0 auto 13.5rem;
    padding: 0 5%; 
    display: flex;
    justify-content: space-around;
}
.experience_card {
    width: 28%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #292B2E;
    border-radius: 10px;
    box-sizing:border-box
}
.experience_card > img:first-child {
    background-color: var(--color-white);
    width: 10%;
    border-radius: 40px;
    padding: 1rem;
}
.experience_card > img:last-child {
    width: 2%;
}
.experience_card > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.experience_card > div > p:first-child {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-orange);
    margin-bottom: 1rem;
}
.experience_card > div > p:last-child {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-white);
}
.experience_card:hover > div > p:first-child, .experience_card:hover > div > p:last-child{
    color: var(--color-black);
}
.experience_card:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.about_me_box {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.about_me_box > div:first-child {
    margin-top: 3vh;
    width: 200vw;
    height: 60vh;
    background-position: center,top;
    background-size: contain,auto;
    background-repeat: no-repeat;
    background-image:url('../img/Screenshot\ 2022-04-15\ at\ 7.05\ 1.png'),url('../img/Group\ 11.png');
}

.black_box_title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.125rem;
    width: fit-content;
    color: var(--color-orange);
    background-color: #292B2E;
    border-radius: 20px;
    padding: 0.325rem 1.625rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}
.title_text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.875rem;
}
.ordinary_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
}

.my_skills_box {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.my_skills_box > div:nth-child(1) {
    width: 72%;
    padding-right: 5%;
    box-sizing: border-box;
}
.my_skills_box > .title_text {
    margin-bottom: 2.25rem;
}
.right_skills_panel {
    width: 55%;
    display: flex;
    flex-wrap:wrap;
    padding-bottom: 5%;
    justify-content: space-between;
    column-gap: 2rem;
}
.right_skills_panel > div:hover rect{
    fill:rgba(255, 183, 66, 0.5);
}

.left_hire_me {
    margin-left: 5%;
}

.my_works_main {
    margin: 8.75rem 8% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_works_nav {
    margin: 3rem auto;
    width: 52%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    box-sizing:border-box;
}
.my_works_nav > div {
    padding: 0.365rem 1.25rem;
}
.my_works_nav > div:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
    border-radius: 3px;
}
.my_works_gallery , .customer_cards {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.my_works_gallery > div {
    width: 32%;
}
.my_works_gallery_col {
    display: flex;
    flex-direction: column;
}
.my_works_gallery_col > img:first-child {
    margin-bottom: 5%;
}

.testimonials_box {
    margin: 12% 8% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box
}
.customer_card {
    font-family: 'Poppins';
    box-sizing:border-box;
    width: 32%;
    padding:5% 5% 4.5% 3%;
    margin: 3.5% 0 5%;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 0.5rem;
}
.customer_card > div:nth-child(2) {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 10% 0 15%;
    line-height: 2.5rem;
}
.customer_card_bottom {
    height: 25%;
    display: flex;
    align-items: center;

}
.customer_card_bottom > div:nth-child(1) {
    width: 25%;
    height: 100%;
    background-image: url('../img/33.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.customer_card_bottom > div:nth-child(2) {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.customer_card_bottom > div:nth-child(2) p:first-child {
    font-weight: 700;
    font-size: 1.25rem;
    padding-bottom: 5%;
}
.customer_card_bottom > div:nth-child(2) p:last-child {
    font-weight: 400;
    font-size: 1rem;
}

footer {
    background-color: #1C1C1C;
    padding: 10% 3rem 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing:border-box;
    font-family: 'Work Sans';
    line-height: 2.5rem;
}
footer > div {
    width: 17%;
}
footer > div > p:first-child {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
footer li{
    color:#7B7B7B ;
    font-weight: 600;
    font-size: 1.125rem;
    list-style-type: none;
}
footer a {
    color:#7B7B7B ;
}
footer > div:first-child > p:first-child {
    font-family: 'Poppins';
    font-size: 2rem;
    color: var(--color-orange);
    padding-bottom: 2rem;
}
footer > div:first-child > p:last-child {
    font-weight: 600;
    color: #D4D4D4;
}
footer > div:last-child > p:first-child {
    padding-bottom: 0.75rem;    
}